.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

// 修改a-menu样式
.ant-menu-item, .ant-menu-submenu-title {
  height: 32px !important;
  line-height: 32px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  margin-left: 3px !important;
  font-size: 12px !important;
}

// 一级菜单加粗
.ant-menu-root > .ant-menu-submenu > .ant-menu-submenu-title {
  font-weight: bold !important;
  font-size: 14px !important;
}
.ant-tabs .ant-tabs-content{
  height: 100%;
}
.ant-menu-submenu-arrow{
  margin-top: 2px;
}

.ant-form-item{
  margin-bottom: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}
// 隐藏tabs的更多按钮
.hide-more .ant-tabs-nav .ant-tabs-nav-operations{
  display: none;
}

.ant-layout .ant-layout-sider-trigger{
  height: auto;
}
.ant-layout .ant-layout-sider-has-trigger{
  padding-bottom: 36px !important;
}


.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button{
  display: flex;
  align-items: center;
}

// formily
.ant-formily-form-item-feedback-layout-loose{
  margin-bottom: 0px;
}

// a-tree
.ant-tree .ant-tree-treenode{
  padding-bottom: 0px;
  height: 20px;
  font-size: 12px;
}
.ant-tree .ant-tree-indent-unit{
  width: 10px;
}
.ant-tree .ant-tree-switcher{
  width: 10px;
}

.ant-tree .ant-tree-node-content-wrapper{
  padding: 0 0 0 0;
}

.underline-button >span{
  text-decoration: underline;
}

.yellow-row{
  background-color: yellow;
}
